*
{
	margin: 0;
	padding: 0;
	
	text-shadow: none;
	
	background-repeat: no-repeat;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
	
	outline: 0;
}

html
{
	-webkit-text-size-adjust: none;
}

html, body
{
	height: 100%;
}

body
{
	font-family: sans-serif;
	line-height: 1;
}

/* fix for older browsers */
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section 
{
	display: block;
}

[hidden] {
    display: none;
}

/* iOS submit buttons */
input[type="submit"]
{
	-webkit-appearance: none
}

label,
a,
select
{
	cursor: pointer;
}

input,
select,
textarea
{
	font-family: inherit;
}


/* IE problem */
img 
{
	border: 0;
}

a
{
	text-decoration: none;
	color: inherit;
	background: transparent;
}

a:hover
{
	text-decoration: none;
}

a.none:hover
{
	text-decoration: hover;
}

a.underline
{
	text-decoration: underline;
}

a.underline:hover
{
	text-decoration: none;
}

ul, li
{
	list-style: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}

.row::after
{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both; 
}


textarea
{
	overflow: auto;
	resize: vertical;
}

.justify 
{
	text-align: justify;
}

.justify.one-line
{
	line-height: 0; /* только для элементов, умещающихся в одной строчке, иначе строки наедут друг на друга */
}

.justify::after 
{
	width: 100%;
	display: inline-block;
	content: "";
}


.left
{
	float: left;
}

.right
{
	float: right;
}

.in-center
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}







