*{
	margin: 0;
	padding: 0;
	
	text-shadow: none;
	
	background-repeat: no-repeat;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
	
	border-radius: 0;
	word-break: break-word;
}

*:active,
*:focus{
	outline: 0;
	border: 0;
}

html{
	-webkit-text-size-adjust: none;
	–ms-text-size-adjust: none;
}

html, body{
	height: 100%;
}

body{
	font-family: sans-serif;
	line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: normal;
}

/* fix for older browsers */
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section{
	display: block;
}

[hidden],
.hidden{
    display: none;
}

/* iOS submit buttons */
input[type="submit"]{
	-webkit-appearance: none
}

label,
a,
select,
button,
input[type="submit"]{
	cursor: pointer;
}

input,
select,
textarea{
	font-family: inherit;
	word-break: normal;
}

/* IE problem */
img,
input[type="submit"]{
	border: 0;
}

.rel{
	position: relative;
}

a{
	color: inherit;
	background: transparent;
}

a,
a:hover,
.underline:hover{
	text-decoration: none;
}

.none:hover,
.underline{
	text-decoration: underline;
}

ul, li{
	list-style: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

table.fixed{
	table-layout: fixed;
}

.row::after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both; 
}

textarea{
	overflow: auto;
	resize: vertical;
}

.justify{
	text-align: justify;
}

.justify.one-line{
	/* только для элементов, умещающихся в одной строчке, иначе строки наедут друг на друга */
	line-height: 0;
}

.justify::after{
	width: 100%;
	display: inline-block;
	content: "";
}

.left{
	float: left;
}

.right{
	float: right;
}

.in-center,
.overlay{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

.overlay{
	z-index: 10;
	background: rgba(0,0,0,.5);
}

.text-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}








