*
{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	text-shadow: none;
	background-repeat: no-repeat;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html, body
{
	height: 100%;
}

body
{
	line-height: 1;
}

/* fix for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

[hidden] {
    display: none;
}

/* iOS submit buttons */
input[type="submit"]
{
	-webkit-appearance: none
}

*:focus,
*:active
{
	outline: 0;
}

/* IE problem */
img 
{
	border: 0;
}

a
{
	text-decoration: none;
	color: inherit;
}

a.none:hover
{
	text-decoration: hover;
}

a.underline
{
	text-decoration: underline;
}

a.underline:hover
{
	text-decoration: none;
}

ul, li
{
	list-style: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}

.row::after
{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both; 
}


textarea
{
	overflow: auto;
	resize: vertical;
}

.justify 
{
	text-align: justify;
}

.justify.one-line
{
	line-height: 0; /* только для элементов, умещающихся в одной строчке, иначе строки наедут друг на друга */
}

.justify::after 
{
	width: 100%;
	display: inline-block;
	content: "";
}


.left
{
	float: left;
}

.right
{
	float: right;
}







